*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Arial, sans-sarif;
  background-color: #f4f4f4;
  line-height: 1.6;
}

html {
  scroll-behavior: smooth;
}

nav.scrolled {
  background-color: #2c3e50;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

header{
  background-color: #2c3e50;
  position: relative;
  color: white;
  padding: 30px 10px;
  text-align: center;
}

.perfil-img {
  width: 100px; /* Largura da imagem */
  height: 100px; /* Altura da imagem */
  border-radius: 50%; /* Para deixar a imagem redonda */
  object-fit: cover; /* Para manter a proporção da imagem */
  border: 3px solid #ccc; /* Borda ao redor da imagem */
}

.menu-toggle {
  display: none;
  font-size: 30px;
  cursor: pointer;
  padding: 10px;
  text-align: left;
  background-color: #34495e;
  color: white;
}

nav{
  background-color: #34495e;
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 12px;
}
nav a{
  color: white;
  text-decoration: none;
  font-weight: bold;
}
nav a:hover{
  text-decoration: underline;
}

main{
  padding: 20px;
}
section{
  background: white;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 8px;
}
h2{
  margin-bottom: 10px;
  color: #2c3e50;
}

ul{
  padding-left: 20px;
}

form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input, textarea{
  padding: 80x;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button{
  background-color: #2c3e50;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
}
button:hover{
  background-color: #1a252f;
}


footer{
  background-color: #2c3e50;
  color: white;
  text-align: center;
  padding: 10px;
}
@media (max-width: 768px) {

  .menu-toggle {
    display: block;
    position: fixed;
    top: 10px;
    left: 15px;
    z-index: 1001;
  }

  nav {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100vh;
    background-color: #34495e;
    flex-direction: column;
    padding-top: 60px;
    transition: left 0.4s ease;
    z-index: 1000;
  }

  nav.active {
    left: 0;
  }

  nav a {
    padding: 15px;
    border-bottom: 1px solid #555;
  }
  
  header h1 {
    font-size: 22px;
  }

  main {
    padding: 15px;
  }
}